alias lynx="lynx -accept_all_cookies"

alias kk="kubectl"
alias ka="kubectl apply"
alias ke="kubectl exec -it"
alias kd="kubectl describe"
alias kdp="kubectl describe pod"
alias kds="kubectl describe svc"
alias kdd="kubectl describe deployment"
alias kdn="kubectl describe node"
alias kg="kubectl get"
alias kgp="kubectl get po -o wide"
alias kgs="kubectl get svc"
alias kgi="kubectl get ingress"
alias kgd="kubectl get deployment"
alias kge="kubectl get event"
alias kgn="kubectl get nodes"
alias kl="kubectl logs"
alias kn="kubectl get nodes --no-headers -o custom-columns=NAME:.metadata.name"
alias kfailed="kubectl get pods --all-namespaces --field-selector 'status.phase==Failed'"
alias e="vim"
