[user]
	name = Kirill \"Nemoden\" K
	email = i@nemoden.com
[core]
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.gitignore.global
[alias]
	st = status
	co = checkout
	br = branch
	amend = commit --amend
[format]
	pretty = %Cgreen%h%Creset %ad%x09%Cred%d%Creset%n%C(yellow)%s%Creset by %an %ar
