[user]
	name = Kirill \"Nemoden\" K
	email = i@nemoden.com
[color "branch"]
  current = red
  remote = green
[core]
	autocrlf = input
	excludesfile = ~/.gitignore.global
  editor = vim
[alias]
	st = status
	co = checkout
	br = branch
	amend = commit --amend
	staged = diff --staged
  ci = commit
  uncommit = reset HEAD^
  unci = reset HEAD^
  unstage = reset HEAD
  ls = ls-files
[format]
	pretty = %Cgreen%h%Creset %ad%x09%Cred%d%Creset%n%C(yellow)%s%Creset by %an %ar
[http]
    sslverify = false
